.adminPage {
  font-size: 17px;
  button {
    font-size: 17px;
    padding: 10px 15px;
    cursor: pointer;
  }
  input {
    padding: 7px;
    width: 300px;
  }
  .addActionForm {
    padding: 40px;
    .chooseActionText {
      margin-bottom: 15px;
    }
    .chooseAsctionButton {
      margin-right: 20px;
    }
    .addCategoryForm {
      margin-top: 20px;
      .actionText {
        margin-bottom: 10px;
      }
      .addCategoryButton {
        margin-top: 20px;
      }
      .categoriesList {
        margin: 10px 0 30px 0;
        max-width: 640px;
        .openCategoryListText {
          text-decoration: underline;
          cursor: pointer;
          max-width: 150px;
          margin-bottom: 10px;
        }
        .categoryRow {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
        }
      }
      .changedCategoryText {
        margin: 50px 0 10px 0;
      }
    }
  }
}
